<html lang="en">

  <head>
    {{>headerlinks}}
  </head>

  <body>
    <!-- navbar secton -->
    {{>navbar}}
    <!-- main body secton  -->
    <div class="container-fluid main">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- for right part -->
            <div class="col-md-6 col-12 main_right">
              <img src="/images/personal.svg" class="img-fluid home_img" alt="..." />
            </div>
            <!-- for left part -->
            <div class="col-md-6 col-12 main_left">
              <p>Hello i am <span>Swadesh Pal</span> </p>
              <h1>I am a
                <span>front end developer </span>
                currently i am learning back-end development also
              </h1>
              <a href="https://github.com/Swadeshit27"><button>about me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}



  </body>

</html>